




.block-list li:hover {
	background-color: $brand-color;
	cursor: pointer;
	opacity: 1 !important;
}
.block-list li:hover a {
	color: #fff;
	text-decoration: none;
}






%ui-btn {
	@extend .btn;
	background-color: #DADBE1;
	line-height: 1;
	font-size: 20px;
	padding: 0;

	&:hover {
		background-color: $brand-color;
	}
}

.btn {
	@extend %ui-btn;
}



