/*:after, :before {
	content: "";
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
*/
.container {
	margin: 0 auto;
	max-width: 1140px;
}

.block-list a {
	display: block;
}

.block-list li:hover {
	background-color: $brand-color;
	cursor: pointer;
}
.block-list li:hover a,
.block-list li:hover .post-date {
	color: #fff;
	text-decoration: none;
}

.post-date {
	color: $body-text;
}

.nav-bar {
	background: #ccc;
	float: left;
	width: 100%;
	padding: 20px 0;
}

.post-nav {
	color: rgb(177, 177, 172);
}


/* CSSWizardry doesn't need these styles when based on inuit.css, why is this behaviour different here? */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}







/* fonts */


@font-face {
	font-family: 'icons';
	src:url('/fonts/icons.eot');
	src:url('/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icons.ttf') format('truetype'),
		url('/fonts/icons.woff') format('woff'),
		url('/fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e600";
}
.icon-linkedin:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-arrow-right:before {
	content: "\e604";
}




.subtitle {
	font-weight: normal;
}

.inline > li {
display: inline-block;
margin-left: $half-spacing-unit;
}
.inline,
.inline > li:first-of-type {
margin-left: 0;
}



.loz--new {
	background-color: green
}


.btn {
	background-color: $brand-color;
	color: #fff;
}


.nav--site {
	float: right;
}
.nav--site a {
border: none;
color: #2F4301;
display: block;
font-size: 1.3em;
font-weight: bold;
padding: 3px 15px;
text-shadow: #7DAA0C 0px 1px 0, #283901 0 -1px 0;

}






.post img {


border: 1px solid #A1A0A0;
border-color: rgba(0, 0, 0, 0) #A1A0A0 #A1A0A0 rgba(0, 0, 0, 0);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 2px 2px 5px #888;
-webkit-box-shadow: 2px 2px 5px #888;
box-shadow: 2px 2px 5px #888;
max-width: 100%;

background: #F1F1F1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 10px;
}