.alert {
	@extend .island--well;
	@extend %sass-margin-bottom;

	padding: $half-spacing-unit;
}

.alert--block {
	padding: $base-spacing-unit;
}

.alert--info {
	background-color: $brand-info-background-color;
	color: $brand-info-color;
	border-color: $brand-info-border-color;
}

.alert--success {
	background-color: $brand-success-background-color;
	color: $brand-success-color;
	border-color: $brand-success-border-color;
}

.alert--warning {
	background-color: $brand-warning-background-color;
	color: $brand-warning-color;
	border-color: $brand-warning-border-color;
}

.alert--danger {
	background-color: $brand-danger-background-color;
	color: $brand-danger-color;
	border-color: $brand-danger-border-color;
}