.site-footer {
	background: #fff;
	border-bottom: 1px solid #a1a0a0;
	border-top: 1px solid #a1a0a0;
	margin-top: $base-spacing-unit;
	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit;
}

.copyright {
	font-size: $milli-size;
	margin-top: $half-spacing-unit;
	margin-bottom: $half-spacing-unit;
}