/*
// |--------------------------------------------------------------------------
// |  $PAGE-HEAD
// |--------------------------------------------------------------------------
*/

.site-logo {
	@extend .muted;

	color: $body-text;
	display: inline-block;
	font-size: 2.5em;
	margin-bottom: $base-spacing-unit * 2;
}


.site-logo:hover {
	color: $body-text !important;
	text-decoration: none;
}



.side-panel {
	@extend .muted;

	left: 0;
	padding: $base-spacing-unit * 2 $base-spacing-unit;
	min-height: 100%;
	padding-right: $base-spacing-unit;
	position: fixed;
	text-align: center;
	top: 0;
}

.something {
	visibility: hidden;
}

.side-panel:hover {
	color: #000;
	opacity: 1 !important;
}
.side-panel:hover .something {
	visibility: visible;
}

.nav--site a {
	font-weight: bold;
	line-height: 3;
}
.nav--site a:hover {
	text-decoration: none;
	border-bottom: 4px solid $brand-color;
}


.nav--site {
	list-style-type: none;
	margin-left: 0;
}
