/*
// |--------------------------------------------------------------------------
// |  $PAGE-HEAD
// |--------------------------------------------------------------------------
*/

.page-head {
	background: $brand-color url(/img/ui/bg-secondary.jpg);
	box-shadow: 0 0 5px 3px #c0bebe;
	border-bottom: 3px solid #fff;
	margin-bottom: $base-spacing-unit;
	padding: $half-spacing-unit 0;
}