/*
// |--------------------------------------------------------------------------
// |  $PAGE-HEAD
// |--------------------------------------------------------------------------
*/




/*
// |  Mobile header and navigation
// |--------------------------------------------------------------------------
*/
.header {
	@extend .cf;

	border-bottom: 2px solid $base-ui-color;
	margin-bottom: $base-spacing-unit * 2;
}


@media all and (min-width: $desktop) {
	.header {
		display: none; // Desktop uses .side-panel instead of .header
	}
}


.header__site-logo {
	float: left;
	margin-bottom: 0;
}


.header__nav {
	float: right;
	padding-top: $half-spacing-unit + $quarter-spacing-unit;

	> li {
		margin-left: $half-spacing-unit;
	}
}




/*
// |  Site logo
// |--------------------------------------------------------------------------
*/
.site-logo {
	@extend .muted;

	color: $body-text;
	display: inline-block;
	font-size: 2.5em;
}


.site-logo:focus,
.site-logo:hover,
.site-logo:active {
	color: #000;
	opacity: 1 !important;
	text-decoration: none;
}