/*
// |--------------------------------------------------------------------------
// |  $PAGE
// |--------------------------------------------------------------------------
*/


html {
	background-color: #F4F3EF;
	color: $body-text;
}


body {
	border-top: $half-spacing-unit solid $brand-color;
}