{% if page.path contains '_posts' %}

	{% assign previousUrl 	= {{page.previous.url}} %}
	{% assign previousTitle	= {{page.previous.title}} %}


	{% assign nextUrl 		= {{page.next.url}} %}
	{% assign nextTitle 	= {{page.next.title}} %}


	{% assign url 			= {{page.url}} %}
	{% assign title 		= {{page.title}} %}
	{% assign date 			= {{page.date}} %}
	{% assign categories 	= {{page.categories}} %}

{% else %}

	{% assign previousUrl 	= {{post.previous.url}} %}
	{% assign previousTitle = {{post.previous.title}} %}


	{% assign nextUrl 		= {{post.next.url}} %}
	{% assign nextTitle 	= {{post.next.title}} %}


	{% assign url 			= {{post.url}} %}
	{% assign title 		= {{post.title}} %}
	{% assign date 			= {{post.date}} %}
	{% assign categories 	= {{post.categories}} %}

{% endif %}




<ul class="nav  nav--article">

	<li>
		{% if previousUrl %}
			<a href="{{previousUrl}}" title="Previous article: {{previousTitle}}" class="nav__prev">
				<i class="icon  icon-arrow-left" aria-hidden="true"></i>
			</a>
		{% else %}
			<div class="nav__prev  disabled">
				<i class="icon  icon-arrow-left" aria-hidden="true"></i>
			</div>
		{% endif %}
	</li>


	<li>
		{% if nextUrl %}
			<a href="{{nextUrl}}" title="Next article: {{nextTitle}}" class="nav__next">
				<i class="icon  icon-arrow-right" aria-hidden="true"></i>
			</a>
		{% else %}
			<div class="nav__next  disabled">
				<i class="icon  icon-arrow-right" aria-hidden="true"></i>
			</div>
		{% endif %}
	</li>

</ul>




<article class="article">

	<h1 title="Permanent link to {{title}}" class="article__title">
		<a href="{{root_url}}{{url}}">{{ title }}</a>
	</h1>


	<p class="article__meta">
		{{ date | date: "%B %e, %Y" }}


		{% assign categoriesIteration = 0 %}
		{% if categories  != null %}
			|
			<span class="article__categories">
				{% assign categoriesLength = categories | size %}
				{% for category in categories %}
					{% assign categoriesIteration = categoriesIteration | plus:1 %}
					{{ category }}{% if categoriesIteration < categoriesLength %},{% endif %}
				{% endfor %}
			</span>
		{% endif %}
	</p>


	{{content}}

</article>