{% include vars.html %}



<article class="article">

	<h1 title="Permanent link to {{title}}" class="article__title">
		<a href="{{root_url}}{{url}}">{{ title }}</a>
	</h1>


	<p class="article__meta">
		{{ date | date: "%B %e, %Y" }}


		{% assign categoriesIteration = 0 %}
		{% if categories  != null %}
			|
			<span class="article__categories">
				{% assign categoriesLength = categories | size %}
				{% for category in categories %}
					{% assign categoriesIteration = categoriesIteration | plus:1 %}
					{{ category }}{% if categoriesIteration < categoriesLength %},{% endif %}
				{% endfor %}
			</span>
		{% endif %}
	</p>


	{{content}}

</article>




{% include post-nav.html %}