{% if page.path contains '_posts' %}

	{% assign previousUrl 	= {{page.previous.url}} %}
	{% assign previousTitle	= {{page.previous.title}} %}


	{% assign nextUrl 		= {{page.next.url}} %}
	{% assign nextTitle 	= {{page.next.title}} %}


	{% assign url 			= {{page.url}} %}
	{% assign title 		= {{page.title}} %}
	{% assign date 			= {{page.date}} %}
	{% assign categories 	= {{page.categories}} %}


	{% assign quote 		= {{page.quote}} %}
	{% assign source 		= {{page.source}} %}
	{% assign cite 			= {{page.cite}} %}

{% else %}

	{% assign previousUrl 	= {{post.previous.url}} %}
	{% assign previousTitle = {{post.previous.title}} %}


	{% assign nextUrl 		= {{post.next.url}} %}
	{% assign nextTitle 	= {{post.next.title}} %}


	{% assign url 			= {{post.url}} %}
	{% assign title 		= {{post.title}} %}
	{% assign date 			= {{post.date}} %}
	{% assign categories 	= {{post.categories}} %}


	{% assign quote 		= {{post.quote}} %}
	{% assign source 		= {{post.source}} %}
	{% assign cite 			= {{post.cite}} %}

{% endif %}