<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

		<!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Notebook and blog of Wayne Moir, Experience designer" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


		<title>{% if page.title %} {{  page.title  }} | {% endif %} Wayne Moir</title>


		<!-- Favicons -->
		<link rel="shortcut icon" href="/img/ui/favicon.ico"/>


		<!-- CSS -->
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

	</head>
	<body>

		<div class="site-header">
			<a href="/" class="site-logo">
				<i class="icon  icon-logo" aria-hidden="true"></i>
			</a>
			<ul class="nav--site">
				<li><a href="/articles/">Articles</a></li>
				<li><a href="/resources/">Resources</a></li>
				<li><a href="/about/">About</a></li>
			</ul>


			<ul class="inline  float--right">
				<li><a href="https://twitter.com/waynemoir" title="Twitter profile"><i class="icon  icon-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://github.com/waynemoir" title="GitHub profile"><i class="icon  icon-github" aria-hidden="true"></i></a></li>
				<li><a href="http://www.linkedin.com/in/waynemoir" title="LinkedIn profile"><i class="icon  icon-linkedin" aria-hidden="true"></i></a></li>
				<li><a href="http://feeds.feedburner.com/waynemoir" title="RSS Feed"><i class="icon  icon-feed" aria-hidden="true"></i></a></li>
			</ul>
		</div>


			<div class="something">
				<ul class="nav--site">
					<li><a href="/articles/">Articles</a></li>
					<li><a href="/resources/">Resources</a></li>
					<li><a href="/about/">About</a></li>
				</ul>


				<ul class="nav  nav--social">
					<li><a href="https://twitter.com/waynemoir" title="Twitter profile"><i class="icon  icon-twitter" aria-hidden="true"></i></a></li>
					<li><a href="https://github.com/waynemoir" title="GitHub profile"><i class="icon  icon-github" aria-hidden="true"></i></a></li>
					<li><a href="http://www.linkedin.com/in/waynemoir" title="LinkedIn profile"><i class="icon  icon-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="http://feeds.feedburner.com/waynemoir" title="RSS Feed"><i class="icon  icon-feed" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>


		<div class="container">
			{{ content }}


			<div class="site-meta">
				<p class="copyright">
					&copy; <a href="https://twitter.com/waynemoir">Wayne Moir</a> {{ site.time | date: '%Y' }}
					<br>
					Experience designer &hellip;<a href="/about/">more</a>
				</p>
			</div>

		</div>


		<!-- Google Analytics
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-9805583-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->


		<!-- Twitter follow
		<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
		-->


	</body>
</html>