<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
	<head>
			<!-- Meta -->
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
			<title>{% if page.title %} {{  page.title  }} | {% endif %} Wayne Moir</title>

			<!-- Favicons -->
			<link rel="shortcut icon" href="/img/favicon.ico"/>

			<!-- CSS -->
			<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
	</head>
	<body>
		
		{{ content }}

	</body>
</html>