---
layout: default
---

<article class="post">
	<h1>{{ page.title }}</h1>
	{{ content }}
	<strong>{{ page.date | date: "%B %e, %Y" }}</strong>
</article>


{% if page.previous.url %}
	<a href="{{page.previous.url}}" title="Previous post: {{page.previous.title}}" class="post-nav post-nav--prev">
		<i class="icon  icon-arrow-left" aria-hidden="true"></i>
	</a>
{% endif %}


{% if page.next.url %}
	<a href="{{page.next.url}}" title="Next post: {{page.next.title}}" class="post-nav post-nav--next">
		<i class="icon  icon-arrow-right" aria-hidden="true"></i>
	</a>
{% endif %}